@import url('https://fonts.googleapis.com/css?family=Libre%20Franklin:700|Libre%20Franklin:400');

:root {
    --dark-purple: rgb(22, 33, 112);
    --light-purple: rgb(84, 11, 230);
    --blue: rgb(0, 80, 161);
}

body {
  font-family: 'Libre Franklin';
  font-weight: 400;
  margin: 0;
  background: radial-gradient(darkblue, black);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
    width: 400px;
}

.play-now-btn{
    width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(84, 11, 230) 0%, rgb(48, 8, 159) 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    transition: 0.2s;
}

.play-now-btn:hover{
    width: 12rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    width: 80%;
    height: 40%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container div{
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.one{
    grid-column: span 2;
}

.two{
    grid-column: span 1;
}

.three{
    grid-column: span 1;
    grid-row: span 2;
}

.four{
    grid-column: span 1;
}

.five{
    grid-column: span 2;
}