@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --dark-purple: rgb(22, 33, 112);
   --light-purple: rgb(84, 11, 230);
   --blue: rgb(0, 80, 161);
}

html,
body {
   margin: 0px;
   padding: 0px;
   font-family: 'Montserrat', sans-serif;
}

#logo {
   height: 40px;
   padding: 10px;
}

#ultra {
   height: 40px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   color: white;
   background-color: var(--light-purple);
   box-shadow: inset 0 0 10px var(--dark-purple);
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
   grid-column: span 1;
   height: 100vh;
   background: linear-gradient(to top, rgb(39, 13, 82), rgb(0, 80, 161));
   margin: 0px;
   padding: 0px;
   border: none;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.sidebar_btns {
   width: 90%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sidebar_btn {
   display: flex;
   align-items: center;
   color: white;
   border-radius: 15px;
   border: none;
   margin-block: 10px;
   width: 100%;
   height: 70px;
   background-color: var(--dark-purple);
   cursor: pointer;
   font-weight: bold;
   transition: 0.2s;
}

.sidebar_btn:hover, .sidebar_btn_small:hover, .toolbar_btn:hover, .question_answer_action:hover  {
   opacity: 0.8;
   border-radius: 20px;
}

.sidebar_btns_small{
   display: flex;
   flex-direction: column;
   display: none;
   transition: 0.2s;
}

.sidebar_btn_small{
   background-color: var(--dark-purple);
   border: none;
   border-radius: 10px;
   color: white;
   height: 35px;
   margin-bottom: 0.5rem;
   transition: 0.2s;
}

.sidebar_btn p {
   font-size: 16px;
}

.sidebar_btn .bi {
   padding: 0 20px 0 10px;
   height: 50%;
}

.qbot_btn {
   background-color: var(--light-purple);
}

.sidebar_panel{
   grid-column: span 1;
   box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
   background-color: var(--dark-purple);
}

.settings{
   background-color: var(--dark-purple);
   color: white;
   height: 100%;
}

.settings_header{
   background-color: var(--blue);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.settings_header p, .settings svg, .settings_main div{
   padding-inline: 1rem;
}

.settings_header p{
   font-weight: bold;
}

.settings svg{
   width: 25px;
   cursor: pointer;
}

.settings_main div{
   padding-block: 0.5rem;
   display: block;
}

.settings_main_header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.settings .tag{
   padding: 5px;
   background-color: var(--blue);
   margin-bottom: 5px;
   border-radius: 30px;
   font-size: 15px;
   display: inline-block;
   cursor: pointer;
}

.speed_input{
   accent-color: var(--blue);
}

.main {
   grid-column: span 6;
   background: linear-gradient(to top, rgb(22, 10, 47), rgb(40, 0, 119));
   position: relative;
}

.current_question {
   margin: 1.5rem;
   background: var(--dark-purple);
   color: white;
   border-radius: 15px;
}

.current_question .question_name {
   margin: 0;
   padding: 1rem;
   background: var(--blue);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.current_question .question_content {
   margin: 0;
   padding: 1rem;
}

.current_question .question_footer {
   margin: 0;
   padding: 1rem;
   background: var(--dark-purple);
   border-top: 2px solid var(--blue);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   font-weight: bold;
}

.question_footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.question_answer{
   margin: 0;
}

.question_answer_actions{
   cursor: pointer;
}

.question_answer_action{
   background: none;
   color: white;
   border: none;
   cursor: pointer;
   transition: 0.2s;
}

.past_questions {
   margin: 1.5rem;
   color: white;
}

.past_question {
   margin-top: 0.5rem;
   padding: 1rem;
   font-weight: bold;
   background: var(--blue);
   border-radius: 15px;
   cursor: pointer;
   opacity: 0.5;
   transition: 0.2s;
}

.past_question:hover {
   opacity: 1;
}

.toolbar {
   margin: 1.5rem 1.5rem 0 1.5rem;
   display: flex;
   position: absolute;
   bottom: 10px;
}

.toolbar_btn {
   width: 50px;
   height: 50px;
   color: white;
   border: none;
   background-color: var(--dark-purple);
   border-radius: 15px;
   cursor: pointer;
   margin-right: 10px;
   transition: 0.2s;
   display: flex;
   align-items: center;
   justify-content: center;
}

#answer_field{
    height: 50px;
    color: white;
    border-radius: 15px;
    padding-left: 10px;
    background-color: var(--dark-purple);
    border: none;
    margin-right: 10px;
    display: none;
    transition: 0.2s;
}

#answer_field::placeholder{
    color: white;
}

.toolbar_btn .bi {
   width: 50%;
}

#settings_btn:hover {
   transform: rotate(360deg);
}

.buzz_btn {
   background-color: var(--light-purple);
}